/CustomRenderAdapters/bin
/CustomRenderAdapters/obj
/CustomRenderAdapters/.vs
/CustomRenderAdapters/v17
/CustomRenderAdapters/.vs
/CustomRenderAdapters/obj/Debug/CustomRenderAdapters.csproj.AssemblyReference.cache
/CustomRenderAdapters/bin/Debug/CustomRenderAdapters.dll
/CustomRenderAdapters/bin/Debug/CustomRenderAdapters.pdb
/CustomRenderAdapters/obj/Debug/CustomRenderAdapters.dll
/CustomRenderAdapters/obj/Debug/CustomRenderAdapters.pdb
