/CustomRenders.CSV/.vs/CustomRenders.CSV/FileContentIndex
/CustomRenders.CSV/.vs/CustomRenders/v17
/CustomRenders.CSV/CustomRenders.CSV/bin
/CustomRenders.CSV/CustomRenders.CSV/bin
/CustomRenderAdapters/.vs/CustomRenderAdapters/FileContentIndex
/CustomRenderAdapters/obj
/CustomRenderAdapters/obj/Debug
/CustomRenderAdapters/.vs/CustomRenderAdapters/v17
/CustomRenderAdapters/.vs/CustomRenderAdapters/v17
/CustomRenderAdapters/.vs
/CustomRenderAdapters/.vs/CustomRenderAdapters/v17/.suo
/CustomRenderAdapters/.vs/CustomRenderAdapters/v17/DocumentLayout.backup.json
